<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyLinks</title>
    <style>
      body {
        overflow: hidden;
      }

      .url-section {
        position: relative;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(20px);
        padding: 2em;
        border-radius: 10px;
        margin-top: 10vh;
      }

      .blurred-shape {
        position: absolute;
        width: 600px;
        height: 600px;
        background: rgba(255, 0, 0, 0.2);
        border-radius: 50%;
        filter: blur(80px);
      }

      .blurred-shape:nth-child(1) {
        top: 50px;
        left: -300px;
      }

      .blurred-shape:nth-child(2) {
        background: rgba(0, 0, 255, 0.2); /* blue color */
        top: 300px;
        right: -100px;
      }

      .blurred-shape:nth-child(3) {
        bottom: -20rem;
        left: 200px;
      }
      @media screen and (max-width: 1000px) {
        .blurred-shape {
          display: none;
        }
        .centered-content h1,
        p {
          display: flex;
          text-align: center;
        }
        body {
          overflow-y: hidden;
          background: linear-gradient(to bottom, #add8e6, #00008b);
          height: 100vh;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      .table table-bordered {
        width: 90vw;
      }
    </style>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="blurred-shape"></div>
      <div class="blurred-shape"></div>
      <div class="blurred-shape"></div>

      <main class="url-section text-center">
        <h3>My URLs</h3>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Short URL ID</th>
                <th scope="col">Long URL</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for (let id in urls) { %>
              <tr>
                <th scope="row">
                  <% if (urls[id].shortUrl === "") { %> <%= id %> <% } else { %>
                  http://localhost:8080/urls/u/<%= urls[id].shortUrl %> <% } %>
                </th>
                <td><%= urls[id].longUrl %></td>
                <td>
                  <a href="/urls/<%= id %>/edit" class="btn btn-primary"
                    >Edit</a
                  >
                </td>
                <td>
                  <a href="/urls/<%= id %>/delete" class="btn btn-danger"
                    >Delete</a
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
    </div>

    <%- include('partials/footer.ejs') %>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
